# Laravel
/vendor
/node_modules
/.env
/.idea
/.vscode
/.phpunit.result.cache

# Laravel storage & cache (except gitignored structure files)
/storage/*.key
/storage/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar
/bootstrap/cache/*.php

# SQLite database
/database/database.sqlite

# Docker & Docker volumes
/pgdata
/docker-compose.override.yml

# Node / Vite
/public/build
/dist
npm-debug.log
yarn-error.log

# OS & editor files
.DS_Store
Thumbs.db
*.swp
*.swo
